automation/n8n-workflows/sponsor-outreach-automation.json
{
  "name": "VIO83 — Sponsor Outreach & Visibility Automation (Weekly Dynamic Engine)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 7 }]
        }
      },
      "id": "trigger-weekly",
      "name": "Every Week",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/vio83/vio83-ai-orchestra",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Current Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 320]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/vio83/vio83-ai-orchestra/traffic/views",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-views",
      "name": "Get Weekly Views",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 320]
    },
    {
      "parameters": {
        "command": "=python3 /Users/padronavio/Projects/vio83-ai-orchestra/scripts/sponsor/generate_weekly_content.py --stars {{$('Get Current Stats').item.json.stargazers_count || 0}} --forks {{$('Get Current Stats').item.json.forks_count || 0}} --views {{$('Get Weekly Views').item.json.count || 0}} --json"
      },
      "id": "run-script",
      "name": "Run Weekly Content Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [860, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $json.stdout || '{}';\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "id": "parse-script",
      "name": "Parse Generated Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 320]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "linkedin_post_1_it", "value": "={{ $json.linkedin_post_1_it }}" },
            { "name": "linkedin_post_1_en", "value": "={{ $json.linkedin_post_1_en }}" },
            { "name": "linkedin_post_2_it", "value": "={{ $json.linkedin_post_2_it }}" },
            { "name": "linkedin_post_2_en", "value": "={{ $json.linkedin_post_2_en }}" },
            { "name": "kofi_post_it", "value": "={{ $json.kofi_post_it }}" },
            { "name": "kofi_post_en", "value": "={{ $json.kofi_post_en }}" },
            { "name": "github_weekly_post_it", "value": "={{ $json.github_weekly_post_it }}" },
            { "name": "github_weekly_post_en", "value": "={{ $json.github_weekly_post_en }}" },
            { "name": "linkedin_post_1", "value": "={{ $json.linkedin_post_1 }}" },
            { "name": "linkedin_post_2", "value": "={{ $json.linkedin_post_2 }}" },
            { "name": "kofi_post", "value": "={{ $json.kofi_post }}" },
            { "name": "github_weekly_post", "value": "={{ $json.github_weekly_post }}" },
            { "name": "optimization", "value": "={{ JSON.stringify($json.optimization || {}) }}" },
            { "name": "md_path", "value": "={{ $json.md_path }}" },
            { "name": "json_path", "value": "={{ $json.json_path }}" }
          ]
        },
        "options": {}
      },
      "id": "generate-posts",
      "name": "Generate Social Posts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1260, 260]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "action_items_it", "value": "={{ $('Parse Generated Content').item.json.action_items_it }}" },
            { "name": "action_items_en", "value": "={{ $('Parse Generated Content').item.json.action_items_en }}" },
            { "name": "dm_template_it", "value": "={{ $('Parse Generated Content').item.json.dm_template_it }}" },
            { "name": "dm_template_en", "value": "={{ $('Parse Generated Content').item.json.dm_template_en }}" },
            { "name": "action_items", "value": "={{ $('Parse Generated Content').item.json.action_items }}" },
            { "name": "dm_template", "value": "={{ $('Parse Generated Content').item.json.dm_template }}" }
          ]
        },
        "options": {}
      },
      "id": "action-items",
      "name": "Generate Action Items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1460, 260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const links = $json.publish_links || {};\nconst approvalChecklist = [\n  'Controlla tono umano e autentico',\n  'Controlla metriche + data nel testo',\n  'Controlla link sponsor/ko-fi/support hub',\n  'Approva manualmente prima del publish'\n].join('\\n');\n\nconst commands = [\n  links.linkedin_post_1_it ? `open \"${links.linkedin_post_1_it}\"` : '',\n  links.linkedin_post_1_en ? `open \"${links.linkedin_post_1_en}\"` : '',\n  links.linkedin_post_2_it ? `open \"${links.linkedin_post_2_it}\"` : '',\n  links.linkedin_post_2_en ? `open \"${links.linkedin_post_2_en}\"` : '',\n  links.kofi ? `open \"${links.kofi}\"` : '',\n  links.github ? `open \"${links.github}\"` : ''\n].filter(Boolean);\n\nreturn [{\n  json: {\n    ...$json,\n    approval_checklist: approvalChecklist,\n    one_click_open_command: commands.join(' && ') || 'echo \"No publish links found\"'\n  }\n}];"
      },
      "id": "prepare-drafts",
      "name": "Prepare Draft + Approval (Optional)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 500]
    },
    {
      "parameters": {
        "command": "={{$json.one_click_open_command}}"
      },
      "id": "open-drafts",
      "name": "Open Drafts In Browser (Optional One Click)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1460, 500],
      "disabled": true
    },
    {
      "parameters": {
        "command": "bash /Users/padronavio/Projects/vio83-ai-orchestra/scripts/sponsor/boost_20x.sh"
      },
      "id": "run-turbo",
      "name": "Run Turbo 20X (Optional)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1260, 680],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "turbo_summary", "value": "=data/weekly-content/turbo-20x-summary.json" }
          ]
        },
        "options": {}
      },
      "id": "turbo-summary",
      "name": "Turbo Summary (Optional)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1460, 680],
      "disabled": true
    }
  ],
  "connections": {
    "Every Week": {
      "main": [[{ "node": "Get Current Stats", "type": "main", "index": 0 }]]
    },
    "Get Current Stats": {
      "main": [[{ "node": "Get Weekly Views", "type": "main", "index": 0 }]]
    },
    "Get Weekly Views": {
      "main": [[{ "node": "Run Weekly Content Script", "type": "main", "index": 0 }]]
    },
    "Run Weekly Content Script": {
      "main": [[{ "node": "Parse Generated Content", "type": "main", "index": 0 }]]
    },
    "Parse Generated Content": {
      "main": [
        [{ "node": "Generate Social Posts", "type": "main", "index": 0 }],
        [{ "node": "Prepare Draft + Approval (Optional)", "type": "main", "index": 0 }],
        [{ "node": "Run Turbo 20X (Optional)", "type": "main", "index": 0 }]
      ]
    },
    "Generate Social Posts": {
      "main": [[{ "node": "Generate Action Items", "type": "main", "index": 0 }]]
    },
    "Prepare Draft + Approval (Optional)": {
      "main": [[{ "node": "Open Drafts In Browser (Optional One Click)", "type": "main", "index": 0 }]]
    },
    "Run Turbo 20X (Optional)": {
      "main": [[{ "node": "Turbo Summary (Optional)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "Sponsor" },
    { "name": "VIO83" },
    { "name": "Outreach" },
    { "name": "DynamicContent" },
    { "name": "Bilingual" },
    { "name": "ManualApproval" }
  ]
}
