automation/n8n-workflows/sponsor-outreach-automation.json
{
  "name": "VIO83 — Sponsor Outreach & Visibility Automation (Weekly Content Engine)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 7 }]
        }
      },
      "id": "trigger-weekly",
      "name": "Every Week",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/vio83/vio83-ai-orchestra",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Current Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/vio83/vio83-ai-orchestra/traffic/views",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-views",
      "name": "Get Weekly Views",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "linkedin_post_1",
              "value": "=🎵 Weekly Build Log — VIO 83 AI Orchestra\n\nQuesta settimana ho spinto in produzione miglioramenti su affidabilità locale e automazioni sponsor.\n\n📊 Snapshot attuale:\n⭐ {{ $('Get Current Stats').item.json.stargazers_count }} stelle\n🔀 {{ $('Get Current Stats').item.json.forks_count }} fork\n👀 {{ $('Get Weekly Views').item.json.count }} visualizzazioni\n\nSto costruendo da sola una piattaforma multi-AI con routing intelligente, cross-check e focus reale su qualità + velocità.\n\n💚 Se vuoi supportare il progetto open source:\nSupport Hub → https://vio83.github.io/vio83-ai-orchestra/support.html\n\n#AI #OpenSource #BuildInPublic #IndieDev #MadeInItaly"
            },
            {
              "name": "linkedin_post_2",
              "value": "=🧠 AI utile = precisione + velocità + verifica\n\nMolte app AI sono veloci ma poco verificabili. Altre sono rigorose ma lente.\nCon VIO 83 AI Orchestra sto lavorando per tenere insieme entrambe le cose: output affidabile in tempi pratici, anche in locale.\n\nObiettivo mese: 10 sponsor per accelerare roadmap, QA e release.\n\nSe credi in AI trasparente e concreta:\n💚 https://github.com/sponsors/vio83\n☕ https://ko-fi.com/vio83_ai_orchestra_\n🌍 https://vio83.github.io/vio83-ai-orchestra/support.html\n\n#AIEngineering #OpenSource #SoloFounder #Tech #LLM"
            },
            {
              "name": "kofi_post",
              "value": "=☕ Ko-fi Weekly Update — Building VIO 83\n\nCiao! Questa settimana: ottimizzazioni su affidabilità locale AI, UX chat e funnel sponsor.\n\nNumeri live:\n⭐ {{ $('Get Current Stats').item.json.stargazers_count }} stars\n🔀 {{ $('Get Current Stats').item.json.forks_count }} forks\n👀 {{ $('Get Weekly Views').item.json.count }} views\n\nOgni supporto qui su Ko-fi finanzia test API, tempo di sviluppo e qualità release.\n\nGrazie di cuore 💚\nSupport Hub: https://vio83.github.io/vio83-ai-orchestra/support.html"
            },
            {
              "name": "github_weekly_post",
              "value": "=## Weekly Progress — VIO 83 AI Orchestra\n\nThis week focused on reliability, speed, and sponsor growth operations.\n\n### Metrics\n- Stars: {{ $('Get Current Stats').item.json.stargazers_count }}\n- Forks: {{ $('Get Current Stats').item.json.forks_count }}\n- Weekly Views: {{ $('Get Weekly Views').item.json.count }}\n\n### Done\n- Local AI orchestration hardening\n- Better fallback and user-facing response flow\n- Sponsor funnel consistency updates\n\n### Support\n- GitHub Sponsors: https://github.com/sponsors/vio83\n- Ko-fi: https://ko-fi.com/vio83_ai_orchestra_\n- Support Hub: https://vio83.github.io/vio83-ai-orchestra/support.html"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-posts",
      "name": "Generate Social Posts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "action_items",
              "value": "=📋 WEEKLY CONTENT CALENDAR — {{ $now.format('yyyy-MM-dd') }}\n\nLunedì: LinkedIn Post #1 (build log + metriche)\nMercoledì: Ko-fi weekly update\nGiovedì: LinkedIn Post #2 (thought leadership + CTA)\nVenerdì: GitHub weekly progress post\n\nOutreach: 3–5 DM mirati/settimana (Lun-Ven)\n\nTarget pratico:\n- CTR support hub >= 2.5%\n- Conversione visita→sponsor 1–3%\n- Revisione KPI ogni domenica\n\nHub: https://vio83.github.io/vio83-ai-orchestra/support.html"
            },
            {
              "name": "dm_template",
              "value": "=Ciao [Nome], seguo con interesse il tuo lavoro su [tema].\nSto costruendo VIO 83 AI Orchestra (multi-AI orchestration, open source, build in public).\nSe vuoi dare un'occhiata e lasciarmi feedback o supporto: https://vio83.github.io/vio83-ai-orchestra/support.html\nGrazie davvero 🙏"
            }
          ]
        },
        "options": {}
      },
      "id": "action-items",
      "name": "Generate Action Items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [950, 400]
    }
  ],
  "connections": {
    "Every Week": {
      "main": [
        [
          { "node": "Get Current Stats", "type": "main", "index": 0 },
          { "node": "Get Weekly Views", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Current Stats": {
      "main": [
        [{ "node": "Generate Social Posts", "type": "main", "index": 0 }]
      ]
    },
    "Generate Social Posts": {
      "main": [
        [{ "node": "Generate Action Items", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "Sponsor" },
    { "name": "VIO83" },
    { "name": "Outreach" }
  ]
}
